<div class="help">
    <dl>
        <dt>Comandi utilizzabili all'interno di <b>Description base</b> e di <b>Keywords fields</b></dt>
        <dd>
            <ul>
                {% for comando, info in entity.seoFields %}
                    <li><b>[{{ comando }}]</b>: {{ info.descrizione }}</li>
                {% endfor %}
            </ul>
        </dd>
        <dt>Description base</dt>
        <dd>
            Scrivere la frase di default inserendo i comandi sopraelencati (compreso le parenesi quadre).<br/>
            Esempio:<br/>
            <textarea rows="3" cols="40">Questa è una description che usa il [titolo] e scritta da [autore]</textarea>
        </dd>
        <dt>Keyword fields</dt>
        <dd>
            Scrivere uno dei comandi sopraelencati (compreso le parentesi quadre) per riga.<br/>
            Il programma separerà il testo generato dai comandi per spazi.<br/>
            È possibile specificare un diverso carattere di separazione indicandolo tra apici singoli dopo il comando.<br/>
            Esempio:<br/>
            <textarea rows="3" cols="40">[titolo]
[gruppo]
[caratteristiche]','</textarea>
        </dd>
    </dl>
</div>